<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <title>Urban Heat Resilience</title>
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="Urban Heat Resilience" />
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
    <!-- <link rel="icon" href="favicon.png"> -->
</head>

<body>
    <header>
        <h1>Urban Heat Resilience</h1>
        <nav>
            <ul>
                <li><a class="current" href="#">Home</a></li>
                <li><a href="#">Page Name</a></li>
            </ul>
        </nav>
    </header>
    <main>
        <!-- <section></section> -->
        <form style="margin:auto;" method="post">
            <input type=text style="width:80%;" name=location>
            <input type=button value=Locate>
        </form>
    </main>
    <div id="map">
        placeholder for embedded map
    </div>
    <footer>
        Urban Heat Resilience
    </footer>
    <!-- <script src="app.js"></script> -->
</body>

</html>