{% extends "base.html" %}
{% block title %}About{% endblock %}
{% block content %}
<h3>About the project:</h3>
<p>Created as part of the Climatebase cohort 6 fellowship. Goal is to close the gap on urban heat resilience action.
    Inspiration came from experiencing extreme heat as well as seeing cities' responses (good or not) to
    mitigating/adapting to it.</p>

<p>Can also go into how we built the project if we want</p>
<p>Map is from CDC heat risk data</p>
<p>Website GitHub repository</p>
<p>Reviewed city heat or climate action plans as well as scientific literature on heat impacts and resilience solutions</p>
<p>Completed calls with city officials</p>
{% endblock %}