{% extends "base.html" %}
{% block title %}Team{% endblock %}
{% block content %}
<div class="container">
    <div class="team-header">
        <h1>Our Team</h1>
        <p>Meet the professionals behind our site!</p>
    </div>

    <div class="team-grid">
        <div class="team-member">
            <h2 class="member-name">Barbara Milewski</h2>
            <p class="member-title">Project Lead</p>
        </div>

        <div class="team-member">
            <h2 class="member-name">Aiman Shahpurwala</h2>
            <p class="member-title">Analyst</p>
        </div>

        <div class="team-member">
            <h2 class="member-name">Jessica Bellwoar</h2>
            <p class="member-title">Strategist & Business Development Lead</p>
        </div>

        <div class="team-member">
            <h2 class="member-name">Sara Lasseter</h2>
            <p class="member-title">Market Research & Communications</p>
        </div>

        <div class="team-member">
            <h2 class="member-name">Charlie Gao</h2>
            <p class="member-title">Senior Software Developer</p>
        </div>

        <div class="team-member">
            <h2 class="member-name">Brenna Norris</h2>
            <p class="member-title">Software Dev./Tech Project Manager</p>
        </div>
    </div>
</div>
{% endblock %}